body{
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(5,23,30);
    font-family: myRoboto;
}

header, footer{
    background-color: rgb(15, 56, 70);
}

.header-content{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.headline{
    font-family: myAsimovian;
    font-size: 32px;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
}

.headline img{
    width: 56px;
    height: 56px;
}

main{
    min-height: calc(100vh - 191px);
}

.main-container{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 32px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px;
}

.footer-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16pxpx;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 4px;
}

.footer-logo img{
    width: 52px;
    height: 52px;
}

.footer-logo span{
    font-family: 'myAsimovian';
    font-size: 32px;
    color: white;
}