.dialog-design{
    padding: 0;
    border-radius: 5px;
}

.dialog-container{
    background-color: rgb(15, 56, 70);
    color: white;
    width: 400px; 
}

.dialog-img-container{
    display: flex;
    justify-content: center;
}

.dialog-img-container img{
    width: 70%;
    height: auto;
}

.dialog-headline{
    padding: 8px;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.type-container-dialog{
    padding: 16px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.type-container-dialog img{
    height: 24px;
    width: 100px;
}

.dialog-ctrl-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(22, 76, 94);
}

.btn-ctrl{
    width: 100%;
    height: 100%;
    text-align: center;
}

.btn-ctrl:hover{
    cursor: pointer;
    background-color: rgb(15, 56, 70);
    border-radius: 10px;
}

.underline{
    border-bottom: 3px solid rgb(54, 157, 195);
}

.invisible{
    display: none;
}

table{
    padding-top: 40px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
}
td{
    padding-right: 32px;
    padding-bottom: 16px;
}

.data-container{
    background-color: rgb(17, 62, 77);
}

.progress-bar{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-progress{
    width: 60%;
    background-color: rgb(8, 33, 41);
}

.value-progress{
    max-width: 100%;
    height: 14px;
    font-size: 12px;
    background-color: rgb(54, 157, 195);
    text-align: center;
}

.main-card{
    height: 242px;
}

.stats-card{
    padding-top: 16px;
    padding-bottom: 16px;
}

.chain-card{
    height: 242px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chain-pkm{
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chain-pkm img{
    height: 70px;
    width: 70px;
}

.arrow-right{
    font-size: 24px;
    color: rgb(54, 157, 195);
}

.load-arrow-btn{
    padding: 0px 10px;
    border: 2px solid rgb(54, 157, 195);
    border-radius: 5px;
    background-color: rgb(15, 56, 70);
}

.load-arrow-btn:hover{
    cursor: pointer;
    background-color: rgb(22, 76, 94);
}

.load-arrow-btn span{
    color: rgb(54, 157, 195);
    font-size: 12px;
}

@media(max-width:500px){
    .dialog-container{
        width: 250px;
    }

    .btn-ctrl span{
        font-size: 16px;
    }

    .type-container-dialog{
        padding: 16px 6px;
        justify-content: space-between;
    }

    .type-container-dialog img{
        height: 20px;
        width:75px;
    }

    .main-card{
        font-size: 14px;
    }

    td{
        padding-right: 24px;
    }

    .stats-card{
        height: 210px;
    }

    .progress-bar span{
        font-size: 13px;
    }

    .chain-card{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .chain-pkm{
        padding: 8px;
    }

    .chain-pkm img{
        height: 60px;
        width: 60px;
    }

    .chain-pkm span{
        font-size: 14px;
    }
}